@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Library WebMVC</h1>
    <p class="lead">This is a page for people to search for books and which library the book is at</p>
    <p><a href="https://localhost:44346/Home/About" class="btn btn-primary btn-lg">About &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>User</h2>
        <p>
            You can ask user
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Book</h2>
        <p>You can add book</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Library</h2>
        <p>You can add library</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>